<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <link rel='icon' href='/openLineage/favicon.ico'/>
  <link rel="icon" type="image/svg+xml" href="/openLineage/logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Open-Lineage</title>
  <meta name='description' content="数据血缘，大数据工具，数据解决方案"/>
  <script type="module" crossorigin src="/openLineage/assets/index-fd509ee2.js"></script>
  <link rel="stylesheet" href="/openLineage/assets/index-606c39d2.css">
</head>

<body>
  <div id="root"></div>
  
</body>

</html>
